* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.container {
  width: inherit;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.auth_page {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth_form {
  width: 350px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.192);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_grup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_grup input {
  height: 40px;
  padding: 0 8px;
  border-radius: 8px;
  border: .5px solid gray;
  font-family: inherit;
  font-weight: 300;
}

.auth_form button {
  height: 40px;
  border-radius: 8px;
  background-color: blue;
  color:white;
  font-family: inherit;
  border: none;
  outline: none;
}